apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      containers:
        - name: client
          image: joanodhiambo/yolo-frontend:v1.0.0
          ports:
            - containerPort: 3000
          env:
            - name: BACKEND_URL
              value: 'http://backend-app:5000/api/products'
